{%extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login  Page{% endblock %}
<style>
	#login_container{
		margin-top: 120%;
	}
</style>

{% block content %}
<body>
	
	<div id="login_container" class="container p-3">
		<div id="login_container" class="row">
			<div class="col-sm-6 col-sm-push-3 login-div p-3">
				{% if message %}
				<div class="alert alert-danger alert-dismissable "><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}</div>
				{% endif %}
				<div class='card p-3'>
					<form method="post" class="">
					{% csrf_token %}
					{{form|crispy}}
					{% for error in field.errors %}
						<p class="error">{{error}}</p>
					{%endfor%}
						<button type="submit" name="submit" class="btn btn-primary form-control"/>Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</body>

{% endblock %}

 